<template name="updateUsername">

    <form class="update-username" autocomplete="off">
        <fieldset class="scheduler-border">
            <legend class="scheduler-border">User Name</legend>
            <div class="form-group">
                <input id="username-text" name="username" type="text" class="form-control"  placeholder="e.g roi75">
                <span id="x-error-icon" class="glyphicon glyphicon-remove form-control-feedback new-username"></span>
                <span id="error-msg" class="error-msg new-username"></span>
            </div>
            <button type="submit" class="btn btn-default">Save</button>
        </fieldset>
    </form>


</template>